:root {
  --primary-bg-color: black;
  --primary-text-color: rgb(69, 69, 69);
  --terminal-text-primary: white;
  --terminal-text-highlight: rgb(78, 31, 245);
  --terminal-text-highlight2: rgb(43, 145, 85);
}

nav {
  color: var(--terminal-text-primary);
  position: sticky;
  background-color: rgb(32, 32, 32);
  min-height: 30px;
  border: 1px solid rgb(67, 67, 67);;
}

.nav-links {
  color: var(--primary-text-color);
}

body {
  background-color: var(--primary-bg-color);
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 1rem;
  color: var(--primary-text-color);
}

h1 {
  color: var(--terminal-text-primary);
}

.terminal-highlight {
  color: var(--terminal-text-highlight);
}

.main {
  padding: 20px;
}